<template>
  <div class="cart full-width">

    <div v-if="loading" class="loading-wrapper">
      <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>

    <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
        <v-subheader>Items to order</v-subheader>
        <v-card class="pl-3 pr-3">
            <v-list two-line>
                <template v-for="(item, index) in items">
                <v-list-tile :key="item.service_id" class="list-group">
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                        <v-list-tile-sub-title>Rp. {{ formatPrice(item.price) }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <div>
                            <v-btn flat icon color="teal" @click="removeFromCart(item)">
                                <v-icon>remove_circle</v-icon>
                            </v-btn>
                            <span class="body-1">{{ item.quantity }}</span>
                            <v-btn flat icon color="teal" @click="addToCart(item)">
                                <v-icon>add_circle</v-icon>
                            </v-btn>
                        </div>
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider inset v-if="index + 1 < items.length" :key="`divider-${index}`"></v-divider>
                </template>
            </v-list>
        </v-card>
        </v-flex>
    </v-layout>

    <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
            <v-subheader>Deliver on</v-subheader>
            <v-card class="pl-3 pr-3 pt-2">
                <div>
                    <!-- <v-layout row>
                        <v-flex xs6 class="pr-1">
                            <v-btn block dark color="orange">Now</v-btn>
                        </v-flex>
                        <v-flex xs6 class="pl-1">
                            <v-btn block dark color="orange">Custom</v-btn>  
                        </v-flex>
                    </v-layout> -->
                        
                    <v-layout row>
                        <v-flex xs-6 class="pr-1">
                            <v-text-field
                            slot="activator"
                            label="Choose date"
                            single-line
                            prepend-icon="today"
                            v-model="dateModel"
                            @click.stop="dialogDate = true"
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs-6 class="pl-1">
                            <v-text-field
                            slot="activator"
                            label="Choose time"
                            single-line
                            prepend-icon="schedule"
                            v-model="timeModel"
                            @click.stop="dialogTime = true"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                </div>

                <v-dialog 
                ref="dialog"
                persistent
                v-model="dialogDate" 
                max-width="500px">
                    <v-date-picker 
                    full-width 
                    v-model="dateModel"
                    :min="new Date().toISOString().substr(0, 10)"
                    >
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="$refs.dialog.save(dateModel)">OK</v-btn>
                    </v-date-picker>
                </v-dialog>

                <v-dialog 
                ref="dialog2"
                v-model="dialogTime" 
                max-width="500px">
                    <v-time-picker 
                    full-width
                    v-model="timeModel"
                    format="24hr"
                    >
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="$refs.dialog2.save(timeModel)">OK</v-btn>
                    </v-time-picker>
                </v-dialog>
            </v-card>
        </v-flex>
    </v-layout>

    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-subheader>
                <v-layout row>
                    <v-flex xs6>
                        Deliver to 
                    </v-flex>
                    <v-flex xs6 class="text-xs-right">
                        <router-link to="/gmap">Change</router-link>
                    </v-flex>
                </v-layout>
            </v-subheader>
            <v-card class="pl-3 pr-3 pt-1">
                <v-flex xs12>
                    <v-text-field
                    name="input-3"
                    label="Location"
                    v-model="loc_name"
                    class="full-width"
                    v-on:click="goToMap"
                    required
                    prepend-icon="location_on"
                    ></v-text-field>
                    <v-text-field
                    name="input-4"
                    label="House number, unit, landmark, block, etc"
                    v-model="loc_addr"
                    class="full-width"
                    required
                    ></v-text-field>
                </v-flex>
            </v-card>
        </v-flex>
    </v-layout>

    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-subheader>Notes</v-subheader>
            <v-card class="pl-3 pr-3">  
                <v-text-field
                name="input-5"
                label="Write notes here"
                v-model="notes"
                prepend-icon="speaker_notes"
                ></v-text-field>
            </v-card>
        </v-flex>
    </v-layout>

    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-subheader>Payment details</v-subheader>
            <v-card>
                <v-card-title>
                    <v-flex xs-6>
                        <div>Total estimate</div>
                    </v-flex>
                    <v-flex xs-6 class="text-xs-right">
                        <div>Rp. {{ formatPrice(numberCalc) }}</div>
                    </v-flex>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>

    <div class="bottom-bar" v-show="loc_name !== ''" @click="processOrder">
        <v-layout row>
            <v-flex xs12>
                <div class="bottom-bar-content absolute">
                    <div>Order</div>
                </div>
            </v-flex>
        </v-layout>
    </div>

    <v-layout row class="pb-3 pt-1">
        <v-flex xs12 class="text-xs-center">
            <div>
                <v-btn v-on:click="goBack" color="accent" dark>Kembali</v-btn>
            </div>
        </v-flex>
    </v-layout>

  </div>
</template>
<script>

import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  name: 'Cart',
  data () {
      return {
        menuBottomVisible: false,
        loc_name: '',
        loc_addr: '',
        notes: '',
        isDisabled: true,
        dateModel: new Date().toISOString().substring(0, 10),
        timeModel: new Date().getHours() + ':' + new Date().getMinutes(),
        dialogDate: false,
        dialogTime: false,
        valid: true,
        loading: false,
      }
  },
  methods: {
      ...mapActions([
        'addToCart',
        'removeFromCart',
        'placeOrder'
      ]),
      goBack () {
          this.$router.go(-1);
      },
      goToMap () {
          this.$router.push({ name: 'GmapSelector' })
      },
      formatPrice(value) {
        let val = (value/1).toFixed(0).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      processOrder()
      {
          // lets create the json structure
          this.loading = true;
          let services = this.$store.getters.getCart;
          let locs = this.$store.getters.getLocation;
          let payload = {
                'merchant_id': services[0].merchant_id,
                'booking_time': this.dateModel + ' ' + this.timeModel,
                'location': locs[0].loc_name,
                'location_detail': locs[0].loc_addr,
                'lon': locs[0].lon,
                'lat': locs[0].lat,
                'services': services,
                'note': this.notes
            }
          this.$store.dispatch('placeOrder', payload)
          .then((res) => {
              this.$router.push('/orders')
          })
          .catch((err) => {
              this.loading = true;
              console.log(err)
          })
      }
  },
  computed: {
    items () {
        return this.$store.getters.getCart;
    },
    itemsInCart () {
        let cart = this.$store.getters.getCart;
        return cart.reduce((accum, item) => accum + item.quantity, 0)
    },
    numberCalc() {
      let total = 0;
      let cart = this.$store.getters.getCart;
    
      for(let i = 0; i < cart.length; i++) {
        total += cart[i].price * cart[i].quantity;
      }
      return total;
    },
    getMarkers () {
        let location = this.$store.getters.getLocation;
        for(let i = 0; i < location.length; i++) {
            this.loc_name = location[i].loc_name;
            this.loc_addr = location[i].loc_addr;
        }
        return location;
    },
    goAway () {
        if(this.itemsInCart < 1) {
            this.$router.push({name: "Home"});
        }
    }
  },
  mounted () {
    this.goAway;
    this.getMarkers;
  }
}
</script>
<style scoped>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.float-right{
    float: right;
}
.timepicker{
    border: 1px solid #cccccc;
    padding: 10px 15px;
    border-radius: 4px;
    color: #8e8e8e;
    font-size: 12px;
    width: 100%;
}
.z-index-999{
    position: inherit;
    z-index: 999;
}
.vdatetime-input{
    font-size: 14px;
    width: 100%;
}

.bottom-bar{
    height: 56px;
    width: 100%;
    padding: 10px 25px;
    background-color: #e65100;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: table;
    cursor: pointer;
}

.bottom-bar-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.z-index-9999{
    z-index: 9999;
}
.btn-quantity {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* appearance: none; */
    background: #e65100;
    color: #fff;
    border: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    padding: 0;
    font-weight: bold;
}
.btn-quantity .md-icon{
    color: white;
    font-size: 18px!important;
}
.btn-quantity:hover {
  color: white;
  background: #e65100;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.md-list{
    margin: 0 0 5px 0;
}
.md-list.md-double-line .md-list-item-content{
    padding: 0!important;
    border-bottom: 1px solid #eee;
}
</style>
