<template>
  <div class="full-width">
    <div v-if="loading" class="loading-wrapper">
      <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>
    <v-layout row pl-1 pr-1 pt-1 pb-1>
        <v-flex xs12 sm6 offset-sm3>
          <v-list three-line>
                <template v-for="(item, index) in favorites" @click="goToMerchant">
                  <router-link :to="{ name: 'Merchant', params: { id: item.user_id }}" :key="index">
                    <v-card class="mb-1">
                        <v-list-tile avatar :key="item.id">
                            <v-list-tile-avatar :tile="true">
                                <img :src="item.logo">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                              
                                <v-list-tile-title v-html="item.company"></v-list-tile-title>
                              
                              <v-list-tile-sub-title>
                                <star-rating 
                                    :star-size="15" 
                                    :rating="item.rating" 
                                    :read-only="true" 
                                    :increment="0.01"
                                    inactive-color="#dddddd" 
                                    active-color="#FFCC80"
                                    text-class="custom-text">
                                </star-rating>
                              </v-list-tile-sub-title>
                              <v-list-tile-sub-title class="text-excerpt">{{ item.description }}</v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <small></small>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-card>
                  </router-link>
                </template>
            </v-list>
        </v-flex>
    </v-layout>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import StarRating from 'vue-star-rating'
export default {
  name: 'Favorites',
  components: {
    StarRating
  },
  data () {
    return {
      loading: false,
    }
  },
  computed: {
    favorites () {
        return this.$store.state.myFavorites
    },
  },
  methods: {
    ...mapActions([
        'loadFavorites',
    ]),
    getFavorites () {
      this.loading = true;
      this.$store.dispatch('loadFavorites')
      .then((response) => {
        this.loading = false;
        console.log(response)
        if(response.data.status === 201){
          
        }
      }).catch( error => { 
        // console.log(error);
      })
    }
  },
  mounted () {
    this.getFavorites();
  }
}
</script>
<style>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
</style>
