<template>
  <div id="GmapSelector" class="full-width">
      <v-layout row wrap>
        <v-flex xs12 sm6 offset-sm3>
        <v-card>

            <v-container
                fluid
                style="min-height: 0;"
                grid-list-md
            >

            <div class="subheading mb-2 mt-2">Choose Location</div>

            <label>
                <gmap-autocomplete :class="'input-rb mb-4'"
                    @place_changed="setPlace" autofocus>
                </gmap-autocomplete>
            </label>

            <gmap-map
            :center="center"
            :zoom="15"
            :country="'id'"
            style="width:100%;  height: 400px;"
            >
            <gmap-marker
            :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                @click="center=m.position"
                :clickable='true'
                :draggable='true'
                @dragend="getCoordinates"
            ></gmap-marker>
            </gmap-map>

            <!-- <md-toolbar class="md-dense md-accent fixed-bottom" >
                <div class="md-layout md-alignment-center-center" v-on:click="setLocation">
                    <div class="md-layout-item text-center">
                        <p>SET LOCATION</p>
                    </div>
                </div>
            </md-toolbar> -->
            </v-container>
        </v-card>
        </v-flex>
      </v-layout>

        <div class="bottom-bar" v-bind:class="{ disabled : isDisabled }">
            <v-layout row v-on:click="setLocation">
                <v-flex xs12>
                    <div class="bottom-bar-content absolute">
                        <div>Set Location</div>
                    </div>
                </v-flex>
            </v-layout>
        </div>

  </div>
</template>
<script>

import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
export default {
  name: "GmapSelector",
  data () {
      return {
        center: { lat: -6.1753924, lng: 106.8249641 },
        markers: [],
        marker: '',
        places: [],
        currentPlace: null,
        isDisabled: true,
      }
  },
  mounted() {
    this.geolocate();
    this.getMarkers();
    //console.log(this.geolocate());
  },
  computed: {
    
  },
  methods: {
    ...mapActions([
        'addLocation'
    ]),
    getMarkers () {
        let location = this.$store.getters.getLocation;
        //console.log(location);
        for(let i = 0; i < location.length; i++) {
            this.markers = [
                {
                    position: {
                        lat: location[i].lat,
                        lng: location[i].lon
                    }
                }
            ];
            this.center =
                {
                    lat: location[i].lat,
                    lng: location[i].lon
                };
            this.isDisabled = false;
            // console.log(this.markers);
        }
        return location;
    },
    // receives a place object via the autocomplete component
    setPlace(place) {
        // console.log('here');
        this.currentPlace = place;
        // change marker location
        if (this.currentPlace) {
            const marker = {
                lat: this.currentPlace.geometry.location.lat(),
                lng: this.currentPlace.geometry.location.lng()
            };
            this.markers.splice(this.markers[0], 1);
            this.markers.push({ position: marker });
            this.places.splice(this.places[0], 1);
            this.places.push(this.currentPlace);
            this.center = marker;

            this.addLocation(this.currentPlace);
            this.isDisabled = false;
        }
    },
    getCoordinates: function(e) {
      //console.log(e.latLng.lat() + ' ' + e.latLng.lng())
      if (e) {
            // const marker = {
            //     lat: e.latLng.lat(),
            //     lng: e.latLng.lng()
            // };
            // this.markers.splice(this.markers[0], 1);
            // this.markers.push({ position: marker });
            // this.places.splice(this.places[0], 1);
            // this.places.push(e);
            // this.center = marker;

            // this.addLocation(e);
            // this.isDisabled = false;
            console.log(e);
        }
    },

    geolocate: function() {
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(position => {
                this.position = position.coords;
                
                this.center = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
            });
        }
    },
    setLocation () {
        if(this.isDisabled) {
            return;
        }
        this.$router.go(-1);
    }
  }
}
</script>
<style>
.input-rb{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 100%;
    height: 35px;
    padding: 0 10px;
}
.fixed-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
    height: 56px;
}
.fixed-bottom.disabled{
    background-color: #b9b7b5!important;
}

.bottom-bar{
    height: 56px;
    width: 100%;
    padding: 10px 25px;
    background-color: orange;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: table;
    cursor: pointer;
}

.bottom-bar-content{
    display: table-cell;
    vertical-align: middle;
}

.absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
</style>
