<template>
  <div class="full-width">

    <div v-if="loading" class="loading-wrapper">
      <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>

    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-layout row wrap class="mt-1 mb-1 pl-1 pr-1">
          <v-flex xs12>
            <carousel :autoplay="true" :autoplayHoverPause="true" :per-page="1" :paginationEnabled="true" :paginationPadding="3" :paginationSize="8" paginationActiveColor="#e65100">
              <slide v-for="(slider,i) in sliders" :key="i">
                <img :src="slider.image" class="img-responsive" alt="">
              </slide>
            </carousel>
          </v-flex>
        </v-layout>

        <v-layout row wrap class="mt-1 mb-1 pl-1 pr-1">
          <v-flex xs12>
            <v-text-field solo label="Cari disini..." v-model="search" @focus="goToSearch"></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs4 v-for="item in categories" :key="item.id" class="pr-1 pl-1 pt-1 pb-1">
              <v-card light class="text-xs-center">
                <div class="pr-2 pl-2 pt-2 pb-1">
                  <router-link class="link-dark" :to="{ name: 'Service', params: { id: item.id }}">
                    <img :src="item.logo" :alt="item.name" class="merchant-logo img-responsive">
                  </router-link>
                </div>
                <v-card-title class="card-title pb-2 pt-1">
                  <router-link class="link-dark" :to="{ name: 'Service', params: { id: item.id }}">
                  {{ item.name }}
                  </router-link>
                </v-card-title>
              </v-card>
          </v-flex>
        </v-layout>

        <v-layout row wrap class="pb-2">
          <v-flex xs12 sm6 offset-sm3 class="pr-1 pl-1">
            <v-btn to="/services" block color="primary" dark>Lihat Semua</v-btn>
          </v-flex>
        </v-layout>

      </v-flex>
    </v-layout>
    
  </div>
</template>

<script>

import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'Home',
  components: {
    Carousel,
    Slide
  },
  data: () => ({
    loading: true,
    search: ''
  }),
  computed: {
    sliders () {
      return this.$store.state.sliders
    },
    categories () {
      return this.$store.state.topCategories
    },
  },
  methods: {
    goToSearch() {
      this.$router.push('/search')
    },
    getSliders() {
      this.$store.dispatch('loadSliders')
        .then((res) => {
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    },
    getCategories() {
      this.$store.dispatch('loadTopCategories')
        .then((res) => {
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    }
  },
  mounted () {
    this.getSliders();
    this.getCategories();
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.img-responsive{
  max-width: 100%;
}
.card-title{
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  display: block
}
.link-dark{
  color: #333;
  text-decoration: none;
  transition: .3s all;
}
.link-dark:hover{
  color: #ff9900;
}
</style>
