<template>
  <div class="full-width">
    <div v-if="loading" class="loading-wrapper">
        <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>
      <v-layout>
        <v-flex xs12>
        <v-card>
            <v-card-title>
                <div class="full-width text-xs-center">
                    <div class="headline">Masuk</div>
                    <v-flex sm6 offset-sm3>
                        <v-form v-model="valid">
                            <v-text-field
                            label="Email"
                            required
                            v-model="email"
                            :error-messages="emailErrors"
                            @input="$v.email.$touch()"
                            @blur="$v.email.$touch()"
                            prepend-icon="email"
                            ></v-text-field>
                            <v-text-field
                            label="Password"
                            :counter="10"
                            required
                            v-model="password"
                            :append-icon="e1 ? 'visibility' : 'visibility_off'"
                            :append-icon-cb="() => (e1 = !e1)"
                            :type="e1 ? 'password' : 'text'"
                            :error-messages="passwordErrors"
                            @input="$v.password.$touch()"
                            @blur="$v.password.$touch()"
                            prepend-icon="lock"
                            ></v-text-field>
                            <v-btn dark color="orange" class="ml-0 mr-0"
                            @click="submit"
                            >
                            Masuk
                            </v-btn>
                        </v-form>
                    </v-flex>
                    <div class="caption mt-3">Belum punya akun kolos? Daftar <router-link to="/register">disini</router-link>.</div>
                </div>
                
            </v-card-title>
        </v-card>
        </v-flex>
    </v-layout>

    <v-dialog v-model="failedDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Gagal login!</v-card-title>
        <v-card-text>Email atau password anda salah, silahkan periksa kembali!.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click.native="failedDialog = false">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>
<script>

import { mapActions } from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'

export default {
    mixins: [validationMixin],
    validations: {
      email: { required, email },
      password: { required }
    },
    data () {
        return {
            e1: true,
            valid: true,
            email: '',
            password: '',
            loading: false,
            failedDialog: false
        }
    },
    computed: {
        emailErrors () {
            const errors = []
            if (!this.$v.email.$dirty) return errors
            !this.$v.email.email && errors.push('Format email tidak valid')
            !this.$v.email.required && errors.push('Email wajib diisi')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Password wajib diisi')
            return errors
        }
    },
    methods: {
        ...mapActions([
            'login'
        ]),
        submit () {

            this.$v.$touch();
    
            if(!this.$v.$error){
                this.loading = true;
                let payload = {'email': this.email, 'password': this.password}
                this.$store.dispatch('login', payload)
                .then((res) => {
                    this.$store.dispatch('loadNotifications')
                    this.$router.push('/')
                })
                .catch((err) =>{
                    this.loading = false;
                    this.failedDialog = true;
                }) // don't worry about this
            }
            
        }
    }
}
</script>
<style>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
</style>
