<template>
  <div class="merchant full-width">

    <div v-if="loading" class="loading-wrapper">
        <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>

    <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
        <v-card>
            <v-card-media :src="merchant.cover" height="300px">
                <v-layout column class="media">
                    <v-card-title>
                        <v-btn @click="goBack" dark icon>
                            <v-icon>chevron_left</v-icon>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <!-- <v-btn dark icon>
                            <v-icon>share</v-icon>
                        </v-btn> -->
                        <v-btn dark icon class="mr-3" v-if="!isFavorited" @click="addToFavorite">
                            <v-icon>favorite_border</v-icon>
                        </v-btn>
                        <v-btn dark icon class="mr-3" v-if="isFavorited" @click="removeFromFavorite">
                            <v-icon>favorite</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-title class="teal lighten-1 white--text pl-3 pt-3">
                        <v-layout>
                            <v-flex xs6>
                                <div>
                                    <div class="subheading">{{ merchant.company }}</div>
                                    <div>
                                        <!-- <small>{{ merchant.rating }}</small> -->
                                        <star-rating 
                                            :star-size="15" 
                                            :rating="merchant.rating" 
                                            :read-only="true" 
                                            :increment="0.01"
                                            inactive-color="#00796B" 
                                            active-color="#FFCC80"
                                            text-class="custom-text">
                                        </star-rating>
                                    </div>
                                </div>
                            </v-flex>
                            <v-flex xs6>
                                <div class="text-xs-right">
                                    <div class="subheading"><v-icon small color="white">location_on</v-icon> {{ calculateDistance() }} km</div>
                                    <div>
                                        {{ merchant.open_time | moment("H:i") }} - {{ merchant.close_time }}
                                    </div>
                                </div>
                            </v-flex>
                        </v-layout>
                        
                    </v-card-title>
                </v-layout>
            </v-card-media>

            <v-tabs color="teal" fixed-tabs v-model="tabs">
                <v-tab class="white--text">
                    Servis
                </v-tab>
                <v-tab class="white--text">
                    Ulasan
                </v-tab>
                <v-tab class="white--text">
                    Tentang
                </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tabs">
                <v-tab-item>
                    <v-list two-line>
                        <template v-for="(service, index) in services">
                        <v-list-tile :key="service.id" class="list-group">
                            <v-list-tile-action>
                                <v-btn flat icon color="teal" @click="addToCart(service)">
                                    <v-icon>add_circle</v-icon>
                                </v-btn>
                                <!-- <v-icon size="38" color="orange" @click="addToCart(service)">add_circle</v-icon> -->
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ service.name }}</v-list-tile-title>
                                <v-list-tile-sub-title>{{ service.description }}</v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                
                                <small>{{ formatPrice(service.price) }}</small>
                                <!-- <v-icon color="orange">add_circle</v-icon>
                                <v-icon color="orange">remove_circle</v-icon> -->
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-divider inset v-if="index + 1 < services.length" :key="`divider-${index}`"></v-divider>
                        </template>
                    </v-list>
                </v-tab-item>
                <v-tab-item>
                    <v-card>
                        <v-list three-line>
                        <template v-for="(item, index) in reviews">
                            <v-list-tile avatar :key="index">
                            <v-list-tile-avatar>
                                <img :src="item.avatar">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="item.comment"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.name"></v-list-tile-sub-title>
                                <v-list-tile-sub-title>
                                <star-rating 
                                    :star-size="15" 
                                    :rating="item.rating" 
                                    :read-only="true" 
                                    :increment="0.01"
                                    inactive-color="#999999" 
                                    active-color="#ffdd00"
                                    text-class="custom-text">
                                </star-rating>
                                </v-list-tile-sub-title>
                            </v-list-tile-content>
                            </v-list-tile>
                            <v-divider inset v-if="index + 1 < reviews.length" :key="`divider-${index}`"></v-divider>
                        </template>
                        </v-list>
                    </v-card>
                </v-tab-item>
                <v-tab-item>
                    <v-layout row wrap>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-card color="teal darken-2" class="white--text">
                                <v-container fluid grid-list-lg>
                                    <v-layout row>
                                    <v-flex xs7>
                                        <div>
                                            <div class="title">{{ merchant.location }}</div>
                                            <div class="caption">{{ merchant.location_detail }}</div>
                                        </div>
                                    </v-flex>
                                    <v-flex xs5>
                                        <v-card-media
                                        :src="merchant.logo"
                                        height="125px"
                                        contain
                                        ></v-card-media>
                                    </v-flex>
                                    </v-layout>
                                </v-container>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-layout>
                </v-tab-item>
            </v-tabs-items>
        </v-card>
        </v-flex>
    </v-layout>

    <div class="bottom-bar" @click="goToCart()" v-show="itemsInCart > 0">
        <v-layout row>
            <v-flex xs2>
                <v-badge color="blue" overlap v-model="isBadge">
                    <span slot="badge">{{ itemsInCart }}</span>
                    <v-icon color="white" medium>shopping_cart</v-icon>
                </v-badge>
                <div class="v-divider"></div>
            </v-flex>
            <v-flex xs8>
                <div class="bottom-bar-content">Estimasi Harga: <br>Rp. <b>{{ formatPrice(numberCalc) }}</b></div>
            </v-flex>
            <v-flex xs2>
                <div class="bottom-bar-content">
                    <v-icon color="white">keyboard_arrow_right</v-icon>
                </div>
            </v-flex>
        </v-layout>
    </div>
    
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

import StarRating from 'vue-star-rating'

export default {
  name: 'Merchant',
  components: {
    StarRating
  },
  data () {
      return {
        loading: false,
        items: [],
        isBadge: false,
        tabs: null,
      }
  },
  mounted () {
      this.getMerchants()
      console.log(this.$store.state.myLocation)
  },
  computed: {
    isFavorited () {
      return this.$store.getters.isFavorited
    },
    merchant () {
        return this.$store.state.merchant
    },
    services () {
        return this.$store.state.merchantServices
    },
    reviews () {
        return this.$store.state.merchantReviews
    },
    itemsInCart () {
        let cart = this.$store.getters.getCart;
        let cartNum = cart.reduce((accum, item) => accum + item.quantity, 0);
        if(cartNum > 0){
          this.isBadge = true;
        }
        return cartNum;
    },
    numberCalc() {
      let total = 0;
      let cart = this.$store.getters.getCart;
    
      for(let i = 0; i < cart.length; i++) {
        total += cart[i].price * cart[i].quantity;
      }
      return total;
    },
  },
  methods: {
    ...mapActions([
        'addToCart',
    ]),
    getMerchants(){
        this.loading = true;
        this.$store.dispatch('loadMerchant', this.$route.params.id)
        .then((res) => {
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    },
    addToFavorite(){
         this.$store.dispatch('addToFavorite', this.$route.params.id)
    },
    removeFromFavorite(){
         this.$store.dispatch('removeFromFavorite', this.$route.params.id)
    },
    goBack () {
        this.$router.go(-1);
    },
    goToCart(id) {
        this.$router.push({ name: 'Cart'})
    },
    formatPrice(value) {
        let val = (value/1).toFixed(0).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    calculateDistance() {
        let _eQuatorialEarthRadius = 6378.1370;
        let _d2r = (Math.PI / 180.0);
        let dlong = (this.$store.state.myLocation.lng - this.merchant.lon) * _d2r;
        let dlat = (this.$store.state.myLocation.lat - this.merchant.lat) * _d2r;
        let a = Math.pow(Math.sin(dlat / 2.0), 2.0) + Math.cos(this.merchant.lat * _d2r) * Math.cos(this.$store.state.myLocation.lat * _d2r) * Math.pow(Math.sin(dlong / 2.0), 2.0);
        let c = 2.0 * Math.atan2(Math.sqrt(a), Math.sqrt(1.0 - a));
        let d = _eQuatorialEarthRadius * c;
        let result = d.toFixed(1);

        return result;
    },
  },
}
</script>
<style scoped>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.display-table{
    display: table;
}

.display-table-cell{
    display: table-cell;
}

.vertical-align-middle{
    vertical-align: middle;
}

.v-divider{
    width: 1px;
    height: 100%;
    border-right: 1px solid #ffcb6b;
    display: inline;
    float: right;
    margin-right: 10px;
}
.bottom-bar{
    height: 56px;
    width: 100%;
    padding: 10px 25px;
    background-color: #e65100;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: table;
    cursor: pointer;
}

.bottom-bar-content{
    display: table-cell;
    vertical-align: middle;
}
.bottom-bar-content .icon{
    position: absolute;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    right: 0;
}

.badge{
    top: 50%;
    transform: translate(0%, -50%);
}

</style>
