<template>
  <div class="full-width">
    <div v-if="loading" class="loading-wrapper">
        <v-progress-circular indeterminate :size="70" :width="7" color="orange"></v-progress-circular>
    </div>
    <v-layout row pl-1 pr-1 pt-1 pb-1>
        <v-flex xs12 sm8 offset-sm2>
          <v-list three-line>
            <template v-for="(item, index) in notifications">
              
                <v-list-tile :key="index">
                  <v-list-tile-content>
                    <router-link :to="{ name: 'OrderDetail', params: { id: item.order_id }}">
                      <v-list-tile-title>{{ item.merchant_name }}</v-list-tile-title>
                    </router-link>
                    <v-list-tile-sub-title v-html="item.message"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-list-tile-action-text>{{ item.created_at | moment("from", "now") }}</v-list-tile-action-text>
                    <v-icon v-if="item.read === 1" color="grey lighen-3">notifications</v-icon>
                    <v-icon @click="readNotification(item.id)" v-else color="orange">notifications_on</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
              
              <v-divider inset v-if="index + 1 < notifications.length" :key="`divider-${index}`"></v-divider>
            </template>
          </v-list>
        </v-flex>
    </v-layout>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
export default {
  name: 'Notifications',
  data () {
      return {
        loading: true,
      }
  },
  mounted () {
    this.getNotifications()
  },
  computed: {
    notifications () {
        return this.$store.state.notifications
    },
    notificationsNum () {
      return this.$store.getters.notificationsNum
    }
  },
  methods: {
    ...mapActions([
        'readNotification',
    ]),
    getNotifications () {
      this.$store.dispatch('loadNotifications')
        .then((res) => {
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    },
  }
}
</script>
<style>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
</style>
