<template>
  <div class="full-width">
    <div v-if="loading" class="loading-wrapper">
      <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>

    <v-tabs fixed-tabs>
        <v-tab>
        On Going
        </v-tab>
        <v-tab>
        Complete
        </v-tab>
        <v-tab-item>
            <v-layout row>
                <v-flex xs12 sm6 offset-sm3>
                    <v-list three-line>
                        <template v-for="(item, index) in currentOrders">
                            <router-link :to="{ name: 'OrderDetail', params: { id: item.id }}" :key="index">
                                <v-card class="mb-1">
                                    <v-list-tile avatar :key="item.id">
                                        <v-list-tile-avatar :size="45" :tile="true">
                                            <img :src="item.merchant_image">
                                        </v-list-tile-avatar>
                                        <v-list-tile-content>
                                            <v-list-tile-sub-title>
                                                {{ item.booking_time | moment("D MMMM, YYYY") }} ({{ item.booking_time | moment("from", "now") }})
                                            </v-list-tile-sub-title>
                                            <v-list-tile-title>
                                                {{ item.merchant_name }}
                                            </v-list-tile-title>
                                            <v-list-tile-sub-title class="text-excerpt">
                                                {{ formatStatus(item.status) }}
                                            </v-list-tile-sub-title>
                                        </v-list-tile-content>
                                        <v-list-tile-action>
                                            <small></small>
                                        </v-list-tile-action>
                                    </v-list-tile>
                                </v-card>
                            </router-link>
                        </template>
                    </v-list>
                </v-flex>
            </v-layout>
        </v-tab-item>
        <v-tab-item>
            <v-layout row>
                <v-flex xs12 sm6 offset-sm3>
                    <v-list three-line>
                        <template v-for="(item, index) in completeOrders">
                            <router-link :to="{ name: 'OrderDetail', params: { id: item.id }}" :key="index">
                                <v-card class="mb-1">
                                    <v-list-tile avatar :key="item.id">
                                        <v-list-tile-avatar :size="45" :tile="true">
                                            <img :src="item.merchant_image">
                                        </v-list-tile-avatar>
                                        <v-list-tile-content>
                                            <v-list-tile-sub-title>
                                                {{ item.booking_time | moment("D MMMM, YYYY") }} ({{ item.booking_time | moment("from", "now") }})
                                            </v-list-tile-sub-title>
                                            <v-list-tile-title>
                                                {{ item.merchant_name }}
                                            </v-list-tile-title>
                                            <v-list-tile-sub-title class="text-excerpt">
                                                {{ formatStatus(item.status) }}
                                            </v-list-tile-sub-title>
                                        </v-list-tile-content>
                                        <v-list-tile-action>
                                            <small></small>
                                        </v-list-tile-action>
                                    </v-list-tile>
                                </v-card>
                            </router-link>
                        </template>
                    </v-list>
                </v-flex>
            </v-layout>
        </v-tab-item>
    </v-tabs>
  </div>
</template>
<script>

export default {
  name: 'Orders',
  data () {
      return {
          currentOrders: [],
          completeOrders: [],
          loading: false
      }
  },
  methods: {
      getOrders() {
            this.loading = true;
            let url = 'https://api.kolos.co.id/api/v1/order/view';
            const token = localStorage.getItem('_token')
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + token;
            axios.get(url).then((response) => {
                this.currentOrders = response.data.data_current;
                this.completeOrders = response.data.data_past;
                this.loading = false;
            }).catch( error => { 
                console.log(error);
            })
      },
      formatStatus(value){
          if(value === 0){
              return 'Menunggu konfirmasi';
          } else if (value === 1) {
              return 'Diterima oleh merchant';
          } else if (value === 2) {
              return 'Ditolak oleh merchant'
          } else if (value === 3) {
              return 'Dibatalkan oleh Anda'
          }
      }
  },
  mounted () {
    this.getOrders();
  }
}
</script>
<style>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
</style>
