<template>
    <div class="full-width">
        <div v-if="loading" class="loading-wrapper">
            <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
        </div>

        <v-alert :type="theStatus[0]" :value="true">
            {{ theStatus[1] }}
        </v-alert>
        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-subheader>Delivery Details</v-subheader>
                <v-card class="pl-3 pr-3">
                    <v-list two-line>
                        <template>
                            <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="blue">store</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ theOrder.merchant_name }}</v-list-tile-title>
                                <v-list-tile-sub-title>{{ theOrder.merchant_location_detail }}</v-list-tile-sub-title>
                            </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>
                    <v-icon class="dot-to" color="grey">more_vert</v-icon>
                    <v-divider inset></v-divider>
                    <v-list two-line>
                        <template>
                            <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="orange">location_on</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ theOrder.location }}</v-list-tile-title>
                                <v-list-tile-sub-title>{{ theOrder.locationDetail }}</v-list-tile-sub-title>
                            </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>

        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-subheader>Order Details</v-subheader>
                <v-card class="pl-3 pr-3">
                    <v-list one-line>
                        <template>
                            <v-list-tile>
                                <v-list-tile-action>
                                     <v-icon color="grey">schedule</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ theOrder.booking_time | moment("D MMMM, YYYY") }} @ {{ theOrder.booking_time | moment("from", "now") }}</v-list-tile-title>
                                    <v-list-tile-sub-title></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-divider inset></v-divider>
                        </template>
                    </v-list>
                    <v-list two-line>
                        <template v-for="(item, index) in theOrder.services">
                            <v-list-tile :key="index">
                                <v-list-tile-action>
                                     <v-chip color="grey lighten-3" text-color="dark">
                                        <small>{{ item.quantity }}</small>
                                     </v-chip>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                                    <v-list-tile-sub-title>{{ item.description }}</v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <small>{{ formatPrice(item.price) }}</small>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-divider inset v-if="index + 1 < theOrder.services.length" :key="`divider-${index}`"></v-divider>
                        </template>
                    </v-list>
                    
                </v-card>
            </v-flex>
        </v-layout>

        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-subheader>Payment Details</v-subheader>
                <v-card class="pl-3 pr-3">
                    <v-list one-line>
                        <template>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon color="orange">shopping_cart</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Cost</v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <small>Rp. {{ formatPrice(totalCost) }}</small>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon color="orange">receipt</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Tax</v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <small>Rp. 0</small>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <!-- <v-icon color="orange">shopping_cart</v-icon> -->
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Total Price</v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <small>Rp. {{ formatPrice(totalCost) }}</small>
                                </v-list-tile-action>
                            </v-list-tile>
                        </template>
                    </v-list>
                    
                </v-card>
            </v-flex>
        </v-layout>

        <v-layout row class="pb-3 pt-1">
            <v-flex xs12 sm6 offset-sm3 class="text-xs-center">
                <div v-if="theStatus[0] === 'info'">
                    <v-btn color="warning" @click="cancelOrderDialog">Cancel Order</v-btn>
                </div>
            </v-flex>
        </v-layout>

        <v-dialog v-model="cancelDialog" max-width="290">
            <v-card>
                <v-card-title class="headline">Batalkan Order?</v-card-title>
                <v-card-text>Apakah anda yakin untuk membatalkan order ini?</v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat="flat" @click="cancelOrder($route.params.id)">Ya, batalkan!</v-btn>
                <v-btn color="green darken-1" flat="flat" @click.native="cancelDialog = false">Tidak</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </div>
</template>
<script>

export default {
    name: 'OrderDetail',
    data () {
        return {
            loading: true,
            alert: 'info',
            cancelDialog: false
        }
    },
    mounted () {
        this.getOrder()
    },
    methods: {
        cancelOrderDialog() {
            this.cancelDialog = true;
        },
        cancelOrder() {
            this.loading = true;
            this.$store.dispatch('cancelOrder', this.$route.params.id)
            .then((res) => {
                this.loading = false;
                this.cancelDialog = false;
            })
            .catch((err) => {

            })
        },
        getOrder(){
            this.$store.dispatch('loadOrder', this.$route.params.id)
            .then((res) => {
                this.loading = false;
                })
            .catch((err) =>{
                this.loading = false;
            })
        },
        formatPrice(value) {
            let val = (value/1).toFixed(0).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },
    },
    computed: {
        theOrder () {
            return this.$store.state.orderDetail
        },
        theStatus () {
            let status = this.$store.getters.orderStatus;
            let message = '';
            if(status === 0) {
                status = 'info';
                message = 'Menunggu konfirmasi'
            } else if (status === 1) {
                status = 'success';
                message = 'Diterima oleh merchant'
            } else if (status === 2) {
                status = 'error';
                message = 'Ditolak oleh merchant'
            } else if (status === 3) {
                status = 'warning';
                message = 'Telah anda batalkan'
            }
            return [status, message];
        },
        totalCost() {
            let total = 0;
            let cart = this.theOrder.services;

            if(!this.loading) {
                for(let i = 0; i < cart.length; i++) {
                    total += cart[i].price * cart[i].quantity;
                }
            }

            return total;
        },
    },
}
</script>
<style>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.dot-to{
    position: absolute;
    left: 15%;
    top: 43%
}

</style>
