<template>
  <div class="full-width">
    <div v-if="loading" class="loading-wrapper">
        <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>

    <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-media class="accent" src="" height="300px">
          <v-layout column class="media">
            <v-card-title>
              <v-btn @click="goBack" dark icon>
                <v-icon>chevron_left</v-icon>
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn to="/profile/edit" dark icon class="mr-3">
                <v-icon>edit</v-icon>
              </v-btn>
            </v-card-title>
            <div class="avatar">
              <img :src="user.avatar" alt="">
            </div>
            <v-spacer></v-spacer>
            <v-card-title class="accent white--text pl-3 pt-3">
              <div class="headline">{{ user.name }}</div>
            </v-card-title>
          </v-layout>
        </v-card-media>
        <v-list three-line>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="accent">phone</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ user.phone }}</v-list-tile-title>
              <v-list-tile-sub-title>Mobile</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="accent">mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ user.email }}</v-list-tile-title>
              <v-list-tile-sub-title>Personal</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="accent">location_on</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Home Address</v-list-tile-title>
              <v-list-tile-sub-title>{{ user.home_address }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <!-- 
          <v-divider inset></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="orange">location_on</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Work Address</v-list-tile-title>
              <v-list-tile-sub-title>{{ user.work_address }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="orange">location_on</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Other Address</v-list-tile-title>
              <v-list-tile-sub-title>{{ user.other_address }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile> -->
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
  </div>
</template>
<script>
export default {
  name: 'Profile',
  data () {
    return {
      loading: true,
    }
  },
  computed: {
    user () {
        return this.$store.state.user
    },
  },
  mounted () {
    this.getUser()
  },
  methods: {
    getUser(){
        this.$store.dispatch('getUser')
        .then((res) => {
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    },
    goBack () {
        this.$router.go(-1);
    },
  }
}
</script>
<style scoped>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.bg-orange{
  background-color: #ef6237;
}
.avatar{
  background-color: white;
  border: 5px solid #f3973e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  overflow: hidden;
}
.avatar img{
  position: relative;
  z-index: -1;
}
.avatar .icon{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  color: white;
  font-size: 92px!important;
}
</style>
