<template>
  <div class="full-width">
    <div v-if="loading" class="loading-wrapper">
        <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>

    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
        <v-card>
            <v-card-title>
                <div class="full-width text-center">
                    <div class="headline mb-3">Pengaturan Akun</div>
                    <div class="avatar-box">
                        <div class="avatar">
                            <img :src="image" alt="">
                            <div class="box-icon" @click="clickHandler">
                                <v-icon light>photo_camera</v-icon>
                            </div>
                            <input type="file" ref="fileInput" v-on:change="onFileChange" multiple accept="image/*" class="hideFile">
                        </div>
                    </div>
                    <v-form v-model="valid">
                        <v-text-field
                        label="Nama Lengkap"
                        required
                        v-model="name"
                        :error-messages="nameErrors"
                        @input="$v.name.$touch()"
                        @blur="$v.name.$touch()"
                        ></v-text-field>
                        <v-text-field
                        label="Nomor Handphone"
                        required
                        v-model="phone"
                        :error-messages="phoneErrors"
                        @input="$v.phone.$touch()"
                        @blur="$v.phone.$touch()"
                        ></v-text-field>
                        <v-text-field
                        disabled
                        label="Email"
                        v-model="email"
                        ></v-text-field>
                        <v-btn dark color="accent" class="ml-0 mr-0"
                        @click="submit"
                        >
                        Simpan
                        </v-btn>
                    </v-form>
                </div>
            </v-card-title>
        </v-card>
        </v-flex>
    </v-layout>

  </div>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, numeric, email } from 'vuelidate/lib/validators'
export default {
    mixins: [validationMixin],
    validations: {
        name: { required },
        phone: { required, minLength: minLength(10), maxLength: maxLength(13), numeric },
    },
    name: 'ProfileEdit',
    data () {
        return {
            loading: true,
            valid: true,
            image: '',
            imageTemp : '',
            name: '',
            email: '',
            phone: ''
        }
    },
    mounted () {
        if(this.user.length === 0){
            this.$router.push('/profile')
        }
        this.getUser();
    },
    computed: {
        user () {
            return this.$store.state.user
        },
        nameErrors () {
            const errors = []
            if (!this.$v.name.$dirty) return errors
            !this.$v.name.required && errors.push('Nama wajib diisi')
            return errors
        },
        phoneErrors () {
            const errors = []
            if (!this.$v.phone.$dirty) return errors
            !this.$v.phone.required && errors.push('Nomor handphone wajib diisi')
            !this.$v.phone.minLength && errors.push('Nomor handphone minimal 10 digit')
            !this.$v.phone.maxLength && errors.push('Nomor handphone maksimal 13 digit')
            !this.$v.phone.numeric && errors.push('Nomor handphone harus berupa angka')
            return errors
        },
    },
    methods: {
        clickHandler() {
            this.$refs.fileInput.click()
        },
        onFileChange(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
                vm.imageTemp = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        getUser(){
            this.$store.dispatch('getUser')
            .then((res) => {
                this.name = res.data.data.name
                this.phone = res.data.data.phone
                this.email = res.data.data.email
                this.image = res.data.data.avatar
                this.loading = false;
            })
            .catch((err) =>{
                this.loading = false;
            })
        },
        submit () {
            this.$v.$touch();
            if(!this.$v.$error){
                this.loading = true;
                let payload = {
                    'name': this.name, 
                    'phone': this.phone
                }

                if(this.imageTemp !== '') {
                    payload = {
                        'name': this.name, 
                        'phone': this.phone,
                        'avatar': this.image
                    }
                }
                
                this.$store.dispatch('editUser', payload)
                .then((res) => {
                    // console.log(res)
                    this.$router.push('/profile') // don't worry about this
                })
                .catch((err) =>{
                    this.loading = false;
                }) // don't worry about this
            }
        }
    }
}
</script>
<style scoped>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.avatar-box{
    position: relative;
    height: 200px;
    width: 100%;
}
.hideFile{
    display: none;
}
.avatar{
  background-color: white;
  border: 5px solid #f3973e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  overflow: hidden;
}
.avatar img{
  position: relative;
  z-index: -1;
}
.avatar .icon{
  color: #afafaf;
}

.avatar .box-icon{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.box-icon:hover > .icon{
    color: white;
}
</style>
