<template>
  <div class="full-width">
    <div v-if="loading" class="loading-wrapper">
        <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>
    <v-layout>
        <v-flex xs12>
            <v-card>
                <v-card-title>
                    <div class="full-width text-xs-center">
                        <div class="headline">Daftar</div>
                        <v-flex sm6 offset-sm3>
                            <v-form v-model="valid">
                                <v-text-field
                                label="Nama"
                                v-model="name"
                                :error-messages="nameErrors"
                                @input="$v.name.$touch()"
                                @blur="$v.name.$touch()"
                                prepend-icon="mode_edit"
                                required
                                ></v-text-field>
                                <v-text-field
                                label="Email"
                                v-model="email"
                                :error-messages="emailErrors"
                                @input="$v.email.$touch()"
                                @blur="$v.email.$touch()"
                                prepend-icon="email"
                                required
                                ></v-text-field>
                                <v-text-field
                                label="Nomor Handphone"
                                :mask="maskPhone"
                                v-model="phone"
                                :counter="13"
                                :error-messages="phoneErrors"
                                @input="$v.phone.$touch()"
                                @blur="$v.phone.$touch()"
                                required
                                prepend-icon="phone"
                                ></v-text-field>
                                <v-text-field
                                label="Password"
                                v-model="password"
                                :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                :append-icon-cb="() => (e1 = !e1)"
                                :type="e1 ? 'password' : 'text'"
                                :error-messages="passwordErrors"
                                @input="$v.password.$touch()"
                                @blur="$v.password.$touch()"
                                required
                                prepend-icon="lock"
                                ></v-text-field>
                                <v-text-field
                                label="Password Lagi"
                                v-model="repeatPassword"
                                :append-icon="e2 ? 'visibility' : 'visibility_off'"
                                :append-icon-cb="() => (e2 = !e2)"
                                :type="e2 ? 'password' : 'text'"
                                :error-messages="repeatPasswordErrors"
                                @input="$v.repeatPassword.$touch()"
                                @blur="$v.repeatPassword.$touch()"
                                required
                                prepend-icon="lock"
                                ></v-text-field>
                                <v-text-field
                                label="Alamat Rumah"
                                v-model="address"
                                :error-messages="addressErrors"
                                @input="$v.address.$touch()"
                                @blur="$v.address.$touch()"
                                @click="goToMap"
                                required
                                prepend-icon="location_on"
                                ></v-text-field>
                                <v-text-field
                                label="No rumah, Nama jalan, RT/RW, lantai"
                                v-model="address2"
                                ></v-text-field>
                                <v-btn dark color="orange" class="ml-0 mr-0" @click="submit">
                                Daftar
                                </v-btn>
                            </v-form>
                        </v-flex>
                        <div class="caption mt-3 mb-3">Sudah punya akun kolos? Masuk <router-link to="/login">disini</router-link>.</div>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>

    <v-dialog v-model="failedDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Gagal register!</v-card-title>
        <v-card-text>Email sudah digunakan, silahkan coba email lain.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click.native="failedDialog = false">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, sameAs, email, numeric } from 'vuelidate/lib/validators'
export default {
    mixins: [validationMixin],
    validations: {
        name: { required },
        email: { required, email },
        phone: { required, minLength: minLength(10), maxLength: maxLength(13), numeric },
        password: { required },
        repeatPassword: {
            sameAsPassword: sameAs('password')
        },
        address: { required },
        address2: { required }
    },
    name: 'Register',
    data () {
        return {
            loading: false,
            e1: true,
            e2: true,
            valid: true,
            name: '',
            maskPhone: '#############',
            email: '',
            password: '',
            repeatPassword: '',
            address: '',
            address2: '',
            lat: '',
            lng: '',
            phone: '',
            failedDialog: false
        }
  },
  mounted () {
      this.getMarkers();
      this.preRegisterData ();
  },
  computed: {
        nameErrors () {
            const errors = []
            if (!this.$v.name.$dirty) return errors
            !this.$v.name.required && errors.push('Nama wajib diisi')
            return errors
        },
        emailErrors () {
            const errors = []
            if (!this.$v.email.$dirty) return errors
            !this.$v.email.email && errors.push('Email tidak valid!')
            !this.$v.email.required && errors.push('Email wajib diisi')
            return errors
        },
        phoneErrors () {
            const errors = []
            if (!this.$v.phone.$dirty) return errors
            !this.$v.phone.required && errors.push('Nomor handphone wajib diisi')
            !this.$v.phone.minLength && errors.push('Nomor handphone minimal 10 digit')
            !this.$v.phone.maxLength && errors.push('Nomor handphone maksimal 13 digit')
            !this.$v.phone.numeric && errors.push('Nomor handphone harus berupa angka')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Password wajib diisi')
            return errors
        },
        repeatPasswordErrors () {
            const errors = []
            if (!this.$v.repeatPassword.$dirty) return errors
            !this.$v.repeatPassword.sameAsPassword && errors.push('Password harus sama')
            return errors
        },
        addressErrors () {
            const errors = []
            if (!this.$v.address.$dirty) return errors
            !this.$v.address.required && errors.push('Alamat wajib diisi')
            return errors
        },
    },
    methods: {
        goToMap () {
            // save data in vuex
            let payload = { 
                'name' : this.name,
                'email': this.email, 
                'phone' : this.phone,
                'password' : this.password,
                'home_address': this.address,
                'home_description' : this.address2,
                'home_latitude' : this.lat,
                'home_longitude' : this.lng
            }
            this.$store.dispatch('preRegister', payload)
                .then((res) => {
                    this.$router.push({ name: 'GmapSelector' })
                })
        },
        submit() {
            this.$v.$touch();

            if(!this.$v.$error){
                this.loading = true;
                let payload = { 
                    'name' : this.name,
                    'email': this.email, 
                    'phone' : this.phone,
                    'password' : this.password,
                    'home_address': this.address,
                    'home_description' : this.address2,
                    'home_latitude' : this.lat,
                    'home_longitude' : this.lng
                }
                this.$store.dispatch('register', payload)
                    .then((res) => {
                        // this.$store.dispatch('loadNotifications')
                        if(res.data.status === 202) {
                            // this.$v.$errors.push('Email sudah pernah digunakan!');
                            this.loading = false;
                            this.failedDialog = true;
                            return;
                        }

                        let payload = {'email': this.email, 'password': this.password}
                        this.$store.dispatch('login', payload)
                        .then((res) => {
                            this.$store.dispatch('loadNotifications')
                            this.$router.push('/')
                        })
                        .catch((err) =>{
                            this.$router.push('/login')
                        }) // don't worry about this
                    })
                    .catch((err) =>{
                        console.log(err)
                        this.loading = false;
                    })
            }
        },
        getMarkers () {
            let location = this.$store.getters.getLocation;
            for(let i = 0; i < location.length; i++) {
                this.address = location[i].loc_name;
                this.address2 = location[i].loc_addr;
                this.lat = location[i].lat;
                this.lng = location[i].lon;
            }
            return location;
        },
        preRegisterData () {
            let data = this.$store.getters.getPreRegisterData;
            this.name = data.name;
            this.email = data.email;
            this.phone = data.phone;
            this.password = data.password;
        },
    }
}
</script>
<style scoped>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
</style>
