<template>
  <div class="full-width">
    <v-layout row wrap class="mt-1 mb-1 pl-1 pr-1">
        <v-flex xs12>
            <autocomplete
                autofocus
                source="https://api.kolos.co.id/api/v1/search-new?keywords="
                placeholder="Cari disini..."
                :results-display="formattedDisplay"
                @selected="addDistributionGroup">
            </autocomplete>
        </v-flex>
    </v-layout>
  </div>
</template>
<script>
import Autocomplete from 'vuejs-auto-complete'
export default {
    name: 'Search',
    components: {
        Autocomplete,
    },
    data () {
        return {
            keywords: '',
        }
    },
    methods: {
        getData(){
            console.log('here');
        },
        formattedDisplay (result) {
            //console.log(result)
            let display = '<div><div class="list__tile list__tile--avatar"><div class="list__tile__avatar"><div class="avatar avatar--tile" style="height: 45px; width: 45px;"><img src="'+ result.logo +'"></div></div> <div class="list__tile__content"><div class="list__tile__title">'+ result.company +'</div> <div class="list__tile__sub-title text-excerpt">'+ result.location +'</div></div><div class="list__tile__action"><small><i aria-hidden="true" class="icon grey--text text--lighten-1 material-icons">keyboard_arrow_right</i></small></div></div></div><hr class="divider divider--inset">';
            return display;
        },
        addDistributionGroup (obj){
            //console.log(obj.selectedObject.user_id)
            this.$router.push({ name: 'Merchant', params: {id: obj.selectedObject.user_id}})
        }
    }
}
</script>
<style>
.autocomplete__results{
    max-height: 90vh!important;
    border: none!important;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.autocomplete__box{
    padding: 0 15px!important;
    border: none!important;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.autocomplete__inputs{
    padding: 15px 15px!important;
}
.autocomplete__results__item{
    padding: 8px 0!important;
}
</style>
