<template>
  <div class="services full-width">
    <div v-if="loading" class="loading-wrapper">
        <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>
    <v-layout row pl-1 pr-1 pt-1 pb-1>
        <v-flex xs12 sm6 offset-sm3>
            <v-list two-line>
                <template v-for="(item, index) in categories">
                  <router-link :to="{ name: 'Service', params: { id: item.id }}" :key="index">
                    <v-card class="mb-1">
                        <v-list-tile avatar>
                            <v-list-tile-avatar :tile="true">
                                <img :src="item.logo">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="item.name"></v-list-tile-title>
                              <v-list-tile-sub-title class="text-excerpt">{{ item.description }}</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-card>
                    </router-link>
                </template>
            </v-list>
        </v-flex>
    </v-layout>
    
  </div>
</template>
<script>
export default {
  name: 'Services',
  data () {
      return {
        loading: true,
      }
  },
  mounted () {
    this.getCategories();
  },
  computed: {
    categories () {
      return this.$store.state.categories
    }
  },
  methods: {
    getCategories() {
      this.$store.dispatch('loadCategories')
        .then((res) => {
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    },
  },
}
</script>
<style scoped>
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.md-list {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border: 1px solid rgba(#000, .12);
}
</style>
