<template>
    <div class="service full-width">
        <div v-if="loading" class="loading-wrapper">
            <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
        </div>
        
        <v-layout row pl-1 pr-1 pt-1 pb-1>
            <v-flex xs12 sm6 offset-sm3>
                <v-list three-line>
                    <template v-for="(item, index) in orderedMerchants">
                        <router-link :to="{ name: 'Merchant', params: { id: item.user_id }}" :key="item.user_id">
                        <v-card class="mb-1" :key="index">
                            <v-list-tile avatar :key="item.id">
                                <v-list-tile-avatar :size="45" :tile="true">
                                    <img :src="item.logo">
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ item.company }}
                                    </v-list-tile-title>
                                    <v-list-tile-sub-title class="text-xs-right">
                                        <star-rating 
                                        :star-size="15" 
                                        :rating="item.rating" 
                                        :read-only="true" :increment="0.01"></star-rating>
                                    </v-list-tile-sub-title>
                                    <v-list-tile-sub-title class="text-excerpt">{{ item.location }}</v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <v-list-tile-action-text>{{ calculateDistance(item.lat, item.lon) }} km</v-list-tile-action-text>
                                </v-list-tile-action>
                            </v-list-tile>
                        </v-card>
                        </router-link>
                    </template>
                </v-list>
            </v-flex>
        </v-layout>

        <v-speed-dial
            v-model="fab"
            bottom
            right
            direction="top"
            :open-on-hover="hover"
            transition="slide-y-reverse-transition"
            >
            <v-btn
                slot="activator"
                color="orange darken-2"
                dark
                fab
                small
                hover
                v-model="fab"
            >
                <v-icon>sort</v-icon>
                <v-icon>close</v-icon>
            </v-btn>
            <v-btn @click="sortMe('rating')"
                fab
                dark
                small
                color="teal"
            >
                <v-icon>star</v-icon>
            </v-btn>
            <v-btn @click="sortMe('company')"
                fab
                dark
                small
                color="teal"
            >
                <v-icon>format_bold</v-icon>
            </v-btn>
            <!-- <v-btn
                fab
                dark
                small
                color="teal"
            >
                <v-icon>location_on</v-icon>
            </v-btn> -->
        </v-speed-dial>
    </div>
</template>
<script>

import StarRating from 'vue-star-rating'
import VueLodash from 'vue-lodash'

export default {
  name: 'Service',
  components: {
    StarRating,
  },
  data () {
      return {
        merchants: [],
        loading: true,
        fab: false,
        hover: false,
        sortKey: 'rating',
        orderKey: 'desc',
        locations: {
            lat: '',
            lng: ''
        }
      }
  },
  mounted () {
    this.getMerchants();
    this.getStoredLocation();
    this.$getLocation()
    .then(coordinates => {
        this.locations.lat = coordinates.lat;
        this.locations.lng = coordinates.lng;  
        this.setLocations(coordinates)
        // console.log(this.$store.state.myLocation)
    });
  },
  computed: {
    orderedMerchants: function () {
        return _.orderBy(this.merchants, this.sortKey, this.orderKey)
    },
  },
  methods: {
    sortMe(column) {
        this.sortKey = column;
        switch (this.orderKey) {
        case 'asc':
            this.orderKey = 'desc';
            
            break;
        case 'desc':
            this.orderKey = 'asc';
            
            break;
        }
    },
    getMerchants() {
      this.$store.dispatch('loadMerchants', this.$route.params.id)
        .then((res) => {
            this.merchants = this.$store.state.merchants
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    },
    // calculate distance
    calculateDistance(lat2, long2) {
        // let from = new google.maps.LatLng(this.locations.lat, this.locations.lng);
        // let to = new google.maps.LatLng(lng, lat);
        // let distance = google.maps.geometry.spherical.computeDistanceBetween(from, to);
        // return distance;

        let _eQuatorialEarthRadius = 6378.1370;
        let _d2r = (Math.PI / 180.0);
        let dlong = (long2 - this.locations.lng) * _d2r;
        let dlat = (lat2 - this.locations.lat) * _d2r;
        let a = Math.pow(Math.sin(dlat / 2.0), 2.0) + Math.cos(this.locations.lat * _d2r) * Math.cos(lat2 * _d2r) * Math.pow(Math.sin(dlong / 2.0), 2.0);
        let c = 2.0 * Math.atan2(Math.sqrt(a), Math.sqrt(1.0 - a));
        let d = _eQuatorialEarthRadius * c;
        let result = d.toFixed(1);
        if(result === 'NaN'){
            result = '?';
        }
        // console.log(result)
        return result;
    },
    setLocations(coordinates) {
        this.$store.dispatch('setLocation', coordinates)
        .then((res) => {
            // console.log('location has been set')
        })
    },
    getStoredLocation() {
        let myLocation = this.$store.state.myLocation
        if(myLocation.lat !== '' && myLocation.lng !== '') {
            this.locations.lat = myLocation.lat
            this.locations.lng = myLocation.lng
        }
    }

  }
}
</script>
<style scoped>
.subheading{
    font-size: 14px!important;
    line-height: 18px;
}
.loading-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  display: table;
}
.loading-wrapper .progress-circular{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  overflow: hidden;
}
.speed-dial {
    position: fixed;
    bottom: 10%;
}
</style>
