<template>
  <div id="app">

    <v-app id="inspire">
    <div v-if="loading" class="loading-wrapper">
          <v-progress-circular indeterminate :size="70" :width="7" color="accent"></v-progress-circular>
    </div>
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title><router-link to="/">Home</router-link></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar color="accent" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{ pageTitle }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <v-btn icon v-if="isAuthenticated">
        <v-icon>notifications</v-icon>
      </v-btn> -->
      <v-btn icon to="/notifications">
        <v-badge v-if="notificationsNum > 0" overlap color="blue">
          <span slot="badge">{{ notificationsNum }}</span>
          <v-icon medium color="white">notifications_on</v-icon>
        </v-badge>
        <v-badge v-else overlap color="blue">
          <v-icon medium color="white">notifications</v-icon>
        </v-badge>
      </v-btn>
      
      <v-menu bottom>
          <v-btn icon slot="activator" dark>
            <v-icon>more_vert</v-icon>
          </v-btn>
          <v-list v-if="isAuthenticated">
            <v-list-tile>
              <v-list-tile-title v-on:click="logout">Logout</v-list-tile-title>
            </v-list-tile>
          </v-list>
          <v-list v-if="!isAuthenticated">
            <v-list-tile>
              <v-list-tile-title @click="goToLogin">Login</v-list-tile-title>
            </v-list-tile>
            <v-list-tile>
              <v-list-tile-title @click="goToRegister">Register</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>

    </v-toolbar>

    <v-content>
      
        <v-layout>
          <router-view></router-view>
        </v-layout>
      
    </v-content>

    <v-bottom-nav fixed app :value="true" :active.sync="e1">
      <v-btn to="/" flat color="accent" value="home">
        <span>Home</span>
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn to="/orders" flat color="accent" value="orders">
        <span>Orders</span>
        <v-icon>history</v-icon>
      </v-btn>
      <v-btn to="/favorites" flat color="accent" value="favorites">
        <span>Favorite</span>
        <v-icon>favorite</v-icon>
      </v-btn>
      <v-btn to="/profile" flat color="accent" value="profile">
        <span>Profile</span>
        <v-icon>person</v-icon>
      </v-btn>
    </v-bottom-nav>

  </v-app>

  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  data: () => ({
    drawer: null,
    pageTitle: 'KOLOS',
    menuVisible: false,
    e1: 'home',
    loading: false
  }),
  methods: {
    ...mapActions([
        'logout'
    ]),
    // logout actions
    logout() {
      this.loading = true;
      this.$store.dispatch('logout')
      .then(() => {
        this.loading = false;
        this.$router.push('/')
      })
      .catch(e => {
      })
    },
    // go to login page
    goToLogin(){
      this.$router.push('/login')
    },
    goToRegister(){
      this.$router.push('/register')
    },
    // get notifications data
    getNotifications () {
      this.$store.dispatch('loadNotifications')
        .then((res) => {
            this.loading = false;
        })
        .catch((err) =>{
            this.loading = false;
        })
    },
    // get favorites data
    getFavorites () {
      this.loading = true;
      this.$store.dispatch('loadFavorites')
      .then((response) => {
        this.loading = false;
      }).catch( error => { 
        // console.log(error);
      })
    }
  },
  computed: {
    isAuthenticated () {
      return this.$store.getters.isAuthenticated
    },
    notificationsNum () {
      return this.$store.getters.notificationsNum
    }
  },
  mounted () {
    // get these data if authenticated
    if(this.isAuthenticated) {
      this.getNotifications()
      // this.getFavorites()
    }
    
  },
  created () {
    axios.interceptors.response.use(undefined, function (err) {
      return new Promise(function (resolve, reject) {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
        // if you ever get an unauthorized, logout the user
          this.$store.dispatch('logout')
        // you can also redirect to /login if needed !
          console.log('you get out!');
        }
        throw err;
      });
    });
  }
}
</script>

<style>
.full-width{
  width: 100%;
}
.container {
  padding: 0px;
}
.text-excerpt{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap!important;
}
.list a {
  color: #333;
  text-decoration: none;
}
:root {
    --md-theme-default-primary: #448aff;
    --md-theme-default-accent: #e65100;
    --md-theme-default-theme: "light";
}
.md-tabs.md-theme-default.md-accent .md-tabs-navigation{
  background-color: #e65100;
}
.md-bottom-bar.md-theme-default.md-accent.md-type-fixed .md-bottom-bar-item.md-active .md-icon{
  color: #e65100;
}
.md-theme-default a:not(.md-button).md-accent{
  color: #e65100;
}
.md-app {
  height: 100vh;
  border: 1px solid rgba(#000, .12);
}
.md-bottom-bar{
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.md-app-content .md-card {
  margin-right: 0;
  margin-left: 0;
}
.md-app-scroller{
  margin-bottom: 55px;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.link:hover{
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.overflow-hidden{
  overflow: hidden;
}
.md-app-content {
    padding: 7px;
}
.md-app-container{
  transform: initial;
}

</style>
